@charset "UTF-8";
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  z-index: 1000;
  display: inline;
  width: 100%;
  height: 70px;
  background-color: rgb(25, 25, 25);
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 5px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}
header nav i {
  /*display: block;*/
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 1em;
  margin-left: 1em;
  font-size: 120%;
  transition: all ease 0.5s 0s;
}
header img {
  margin-left: 20em;
  margin-right: 60em;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  transition: all 300ms 0 ease;
}

.body .l-article .title {
  font-size: 2.5em;
  font-family: "System UI", sans-serif;
  text-align: center;
}
.body .l-article .container {
  position: relative;
  box-sizing: border-box;
  display: flex; /* フレックスコンテナを作成 */
  gap: 40px;
  flex-wrap: wrap; /* アイテムを折り返す */
  height: auto;
  /*中央寄りになるように左右を寄せてある*/
  padding-left: 30em;
  padding-right: 30em;
}
.body .l-article .container .article {
  flex: 40%; /* 各記事の幅を50%に設定し、間隔を考慮 */
  height: auto;
  position: relative;
  box-sizing: content;
  justify-content: space-around; /* アイテム間にスペースを配置 */
  border-radius: 5px; /* 角を丸く */
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* シャドウを追加 */
  transition: transform 0.3s; /* ホバー時のアニメーション */
}
.body .l-article .container .article img {
  display: inline;
  height: auto; /* 高さに合わせる */
  width: auto;
  max-width: 100%;
}
.body .l-article .container .article h3 {
  font-size: x-large;
}
.body .l-article .container .article p {
  line-clamp: 3;
  text-overflow: ellipsis;
}

.u-category {
  z-index: 10;
  display: inline-block;
  position: absolute;
  color: #ffffff;
  font-size: small;
  background-size: 20px 30px;
}
.u-category .PR {
  background-color: #646464; /* 赤色の背景 */
  color: #ffffff; /* 白色の文字 */
  padding: 0.5em; /* パディングを追加 */
  border-radius: 5px; /* 角を丸く */
  font-weight: bold; /* 太字にする */
}
.u-category .ACTIVITY {
  background-color: #ffb20a; /* 赤色の背景 */
  color: #ffffff; /* 白色の文字 */
  padding: 0.5em; /* パディングを追加 */
  border-radius: 5px; /* 角を丸く */
  font-weight: bold; /* 太字にする */
}
.u-category .ITEM {
  background-color: #0dc15b; /* 赤色の背景 */
  color: #ffffff; /* 白色の文字 */
  padding: 0.5em; /* パディングを追加 */
  border-radius: 5px; /* 角を丸く */
  font-weight: bold; /* 太字にする */
}
.u-category .WELL-BEING {
  background-color: #4d7ed8; /* 赤色の背景 */
  color: #ffffff; /* 白色の文字 */
  padding: 0.5em; /* パディングを追加 */
  border-radius: 5px; /* 角を丸く */
  font-weight: bold; /* 太字にする */
}
.u-category .ISSUE {
  background-color: #009a0a; /* 赤色の背景 */
  color: #ffffff; /* 白色の文字 */
  padding: 0.5em; /* パディングを追加 */
  border-radius: 5px; /* 角を丸く */
  font-weight: bold; /* 太字にする */
}
.u-category .CULTURE {
  background-color: #654732; /* 赤色の背景 */
  color: #ffffff; /* 白色の文字 */
  padding: 0.5em; /* パディングを追加 */
  border-radius: 5px; /* 角を丸く */
  font-weight: bold; /* 太字にする */
}
.u-category .LOVE {
  background-color: #a94949; /* 赤色の背景 */
  color: #ffffff; /* 白色の文字 */
  padding: 0.5em; /* パディングを追加 */
  border-radius: 5px; /* 角を丸く */
  font-weight: bold; /* 太字にする */
}/*# sourceMappingURL=style.css.map */