@use "../../Foundation/variables" as *; // 変数をインポート

.c-button{
    text-align: center;
    font-family: $font-family;
    padding-bottom:3em;
    &__ShowMore{
        display:block;
        margin: 5vh auto;

        line-height: 25%;
        background-color: red;
        border-radius:2em;
        color: white;
        font-size: 1em;
        border: none;
        cursor: pointer;
        width:10vw;
        padding:1em;
        
        transition: all 0.3s ease;
    }
    &__ShowMore:hover{
        background-color: darkred;
        transform: scale(1.2);
    }
    
    &__play{
        display:inline-block;
    }
}















