@use "../../Foundation/variables" as *; // 変数をインポート

.c-footer-box{
    color:white;
    width:auto;
    height:auto;
    padding:0 1em;
    margin:0;
    font-family: $font-family;
    
    flex:1 1 calc(20% - 20px);
    align-self: center;
    &__image{
        width:100%;
        height:auto;
        top:2em;
        background-color:rgb(160, 160, 255);
        display:block;
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
        box-shadow: 1px 1px 5px rgb(0, 4, 255);

        transition: all 0.5s ease;
    }
    
    &__title{
        font-family: $font-family;
        width:100%;
        height:auto;
        color: white;
        font-size:2vw;
        display:block;
        position:relative;
        line-height:auto;
        top:2em;

    }


    &__icon{
        color: white;
        font-size: 2em;
        display:inline-block;
        margin:0 1em;

        transition: all 0.5s ease;
    }
    &__icon:hover{
        transform: scale(1.5);
        box-shadow: 3px 3px 5px rgb(0, 4, 255) -3px -3px 5px rgb(0, 4, 255);
    }


}

.c-footer-box img:hover{
    box-shadow: 5px 5px 50px rgb(0, 4, 255);
    background-color:rgb(0, 0, 255);
}



