@use "../../Foundation/variables" as *; // 変数をインポート
.p-CATEGORY{
        text-align: center;
        background-color:#222222;
        padding-bottom: 1em;
        font-family: $font-family;
        &__title{
            font-size: x-large;
            color:white;
            padding: 1rem;
        }
        &__contentscontainer{
            display:block;
            justify-content: center; /* アイテムを中央に配置 */
            /*中央寄りになるように左右を寄せてある*/
            padding:0 30%;



            .c-CATEGORY-container{
                .subtitle{
                    position:relative;
                    display: block;
                    color: white;
                    font-size:5em;
                    z-index: 10;
                    font-family: $font-family;
                    top:0.5em;
    
    
                }
                .c-CATEGORY-cardcontainer{
                    
                    position: relative;
                    box-sizing: border-box;
                    display:flex; /* フレックスコンテナを作成 */
                    gap:2%;
                    flex-wrap: wrap; /* アイテムを折り返す */
                    flex-direction: row;
                    height:auto;


                    .c-CATEGORY-card{
                        display: inline-block;
                        width: 30%;
                        height:40%;
                        flex:1 1 45%; /* 各記事の幅を50%に設定し、間隔を考慮 */
                        position: relative;
                        box-sizing: content;
                        justify-content:center; /* アイテム間にスペースを配置 */
                        align-items: center;
                        transition: transform 0.3s; /* ホバー時のアニメーション */
                        margin:2%;
                        &__image{
                            display:inline;
                            height:auto; /* 高さに合わせる */
                            width: 100%;
                            max-width: 100%;
                        }

                        &__article{
                            font-family: $font-family;
                            color: white;
                            text-align: left;
                            line-clamp: 2;
                            text-overflow: ellipsis;
                        }
                    }
                    .c-CATEGORY-card:nth-child(1){
                        flex: 0 1 200%;
                    }

                }
            }

            
        }
    }