@use "../Foundation/variables" as *; // 変数をインポート

.body{
    margin: 0%;
    .l-article{
        .title{
            font-size: 2.5em;
            font-family: $font-family;
            text-align: center;
        }
        


        .container {
        position: relative;
        box-sizing: border-box;
        display:flex; /* フレックスコンテナを作成 */
        gap:40px;
        flex-wrap: wrap; /* アイテムを折り返す */
        height:auto;
        

        /*中央寄りになるように左右を寄せてある*/
        padding-left: 30em; 
        padding-right:30em;

        .article {
            flex:40%; /* 各記事の幅を50%に設定し、間隔を考慮 */
            height:auto;
            
            
            position: relative;
            box-sizing: content;
            justify-content: space-around; /* アイテム間にスペースを配置 */


            border-radius: 5px; /* 角を丸く */
            /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* シャドウを追加 */
            transition: transform 0.3s; /* ホバー時のアニメーション */

            img{
                display: inline;
                height:auto; /* 高さに合わせる */
                width: auto;
                max-width: 100%;;
            }
            h3{
                font-size:x-large;
            }
            p{
                line-clamp: 3;
                text-overflow: ellipsis;
            }


        }
    }
    }    


}